In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

# Easy
Вычислить вероятность выживания, если пассажиру:

от 0 до 25 лет
от 25 до 50 лет
от 50 лет и старше

In [2]:
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
# от 0 до 25 лет

df[df['Age'] < 25]['Age'].count() / len(df)

0.31200897867564537

In [10]:
# от 25 до 50 лет

df[(df['Age'] > 25) & (df['Age'] < 50)]['Age'].count() / len(df)

0.38047138047138046

In [11]:
# от 50 лет и старше

df[df['Age'] > 25]['Age'].count() / len(df)

0.46352413019079686

# Normal
Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

In [19]:
# P(A|B) - надо найти по байесу

# P(B|A)
a = len(df[(df['Sex'] == 'female') & (df['Survived'] == 1)]) / len(df[df['Sex'] == 'female'])

# P(A) - женский пол
b = len(df[df['Sex'] == 'female']) / len(df)

# P(B) - выжил
c = len(df[df['Survived'] == 1]) / len(df)

a * b / c

0.6812865497076023

# Normal+
Необходимо реализовать градиентный спуск с уменьшением  для функции двух переменных.

Проверить на функции 
. Начать из точки (5, 2).

Проверить свое решение на готовых функциях минимизации.

In [40]:
def F(x, y):
    return (x - 3) ** 4 + (y + 5) ** 2

In [41]:
def new(x, y):
    e = 0.001
    x1 = x - e * 4 * (x - 3) ** 3 if x > 3 else x + e * 4 * (x - 3) ** 3
    y1 = y - e * 2 * (y + 5) if y > -5 else y + e * 2 * (y + 5)
    
    return x1, y1

In [42]:
x_start = 5
y_start = 2

for i in range(1000000):
    x_start, y_start = new(x_start, y_start)

In [43]:
# ответ при маленьком шаге и большом количестве шагов

x_start, y_start

(3.0111801216519454, -4.999999999999778)

In [39]:
# проверка

from scipy.optimize import minimize
x_start = [5, 2]
minimize(lambda x: F(x[0], x[1]), (x_start,))

      fun: 1.6886264241435976e-08
 hess_inv: array([[2.68725408e+02, 2.53239419e-07],
       [2.53239419e-07, 4.70409838e-01]])
      jac: array([ 5.92530933e-06, -7.91899879e-12])
  message: 'Optimization terminated successfully.'
     nfev: 60
      nit: 19
     njev: 20
   status: 0
  success: True
        x: array([ 3.01139944, -5.00000001])

# Hard
Закон распределения задается функцией плотности



Найти вероятность того, что событие произойдет при 

P.S. в scipy есть функция для интегрирования функции

In [55]:
# не знаю где взять мат. ожидание l, поэтому задал сам

from math import exp
from scipy import integrate

l = 5
def f(x):
    return l * exp(-l * x) if x > 0 else 0

In [56]:
v, err = integrate.quad(f, 1, 2)

In [57]:
v

0.006692547069322982